
@{
    ViewBag.Title = "_paiement";
}


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   

    @Html.TextBox("paiementMois")


    <div class="input-group mb-3" style="display:flex; justify-content:center">
        <div class="input-group-addon" style="min-width:100px;">
            <span class="input-group-text">Montant</span>
        </div>
        <input type="text" class="form-control" style="min-width: 350px;">
    </div>

    <br />
    <div class="input-group mb-3" style=" display:flex;justify-content:center">
        <div class="input-group-addon" style="min-width:100px;">
            <span class="input-group-text">Mois</span>
        </div>
        <select class="form-control" style="min-width: 350px" name="mois" id="mois">
            <option value="Mois">Mois</option>
            <option value="Octobre">Octobre</option>
            <option value="Novembre">Novembre</option>
            <option value="Decembre">Decembre</option>
            <option value="Janvier">Janvier</option>
            <option value="Fevrier">Février</option>
            <option value="Mars">Mars</option>
            <option value="Avril">Avril</option>
            <option value="Mai">Mai</option>
            <option value="Juin">Juin</option>
        </select>
    </div>


    <div class="form-group" style="margin-top:20px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Payer" class="btn btn-default" />
        </div>
    </div>

}*@




